{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Modifier votre mot de passe
</h1>

<div class="box">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-danger">
        <p>{{ messages[1] }}</p>  
      </div>
  {% endif %}
  {% endwith %}


<form method="POST" action="/password-change">
  <div class="field">
      <p class="control has-icons-left">
        <input class="input is-normal" name="old" type="password" placeholder="Ancien mot de passe">
      </p>
    </div>

  <div class="field">
      <p class="control has-icons-left">
        <input class="input is-normal" name="new1" type="password" placeholder="Nouveau mot de passe">
      </p>
  </div>


  <div class="field">
      <p class="control has-icons-left">
        <input class="input is-normal" name="new2"type="password" placeholder="Confirmer le mot de passe">
  </div> 


  <div class="buttons" style="width: 2855px; margin:0 auto; text-align: center;">
    <button class="button is-danger">Modifier</button>
  </div>

</form>

{% endblock %}